body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 0.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ff8c00;
}

#main-content {
    padding: 1em;
}

article {
    background-color: #fff;
    padding: 1.5em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#news-slider {
    display: flex;
    overflow: hidden;
    margin: -10px;
}

#news-slider article {
    flex: 0 0 70%;
    margin: 10px;
}

#news-slider h3 {
    color: #333;
}

h2 {
    color: #333;
}

#schedule {
    margin-top: 30px;
}

.schedule {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.match-card {
    background-color: #fff;
    padding: 1.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.match-card h4 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
